$bg-color: green;

// :root {
//     --bg-color: red;
// }

body {
    // background-color: var(--bg-color);
    background-color: $bg-color;
}

header {
    background-color: blue;
    padding: 30px;

    nav {
        background-color: yellow;
        width: 50%;
        padding: 15px;

        ul {
            padding-left: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            li {
                border: 1px solid black;
                &:last-child {
                    border-radius: 15px;
                }

                a{ 
                    color: rgb(255, 0, 0);
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 15px;
                    display: inline-block;
                    
                    &:hover {
                        text-decoration: line-through;
                        color: rgb(0, 58, 8);

                    }
                    
                    &.active {
                        text-decoration: underline;
                        color: rgb(102, 0, 192);

                        &:hover {
                            color: pink;
                            background-color: brown;

                        }
                    }
                }
                

            }
        }
    }
}








