.main-testimonials {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .card {
        &:nth-of-type(4n + 1) {
            width: calc((100% - 30px) / 3 * 2);
            background-color: rgb(114, 114, 224);
            color: white;
        }

        &:nth-of-type(4n + 2) {
            background-color: rgb(172, 166, 166);
            color: white;
            width: calc((100% - 30px) / 3);
        }
        
        &:nth-of-type(4n + 3) {
            background-color: rgb(255, 255, 255);
            width: calc((100% - 30px) / 3);
        }
        &:nth-of-type(4n + 4) {
            width: calc((100% - 30px) / 3 * 2);
            background-color: rgb(79, 97, 124);
            color: white;
        }


    }
} 